html {
  font-family: 'Open Sans', sans-serif;
  font-size: 6px;
}

@media (min-width: 400px) {
  h1 {
      font-size: 18px;
  }
}

html {
  background-color: #ffffff;
}

/* Include padding and border in element sizes. */
* {
  box-sizing: border-box;
}

/* Make the body element at least the size of the viewport. Remove margin for a perfect fit. */
html, body {
  height: 100%;
  margin: 0;
}

/* Add padding, replacing the custumary margin of body that has been removed. */
body {
  padding: 10px;
}

/* Strech the third element, the map view, to fill available space. */
body {
  display: grid;
  grid-template-rows: 0fr 0fr 1fr;
}
